In [23]:
import gzip
import pandas as pd
import pickle
import requests

from omdbapi.movie_search import GetMovie

In [6]:
file_paths = ['name.basics.tsv.gz',
              'title.basics.tsv.gz',
              'title.crew.tsv.gz',
              'title.principals.tsv.gz',
              'title.ratings.tsv.gz']

In [8]:
for item in file_paths:

    file_name = item[:-7]  # Remove the '.tsv.gz' part
    print(file_name)
    
    # Open the gzip-compressed TSV file and read it as a DataFrame
    with gzip.open(item, 'rt', encoding='utf-8') as f:
        df = pd.read_table(f, sep='\t', low_memory=False, na_values=["\\N", "nan"])

    # Save the DataFrame as a pickle file
    with open(file_name + '.pkl', 'wb') as f:
        pickle.dump(df, f)

name.basics
title.basics
title.crew
title.principals
title.ratings

In [9]:
people = pickle.load(open('name.basics.pkl', 'rb'))
movies = pickle.load(open('title.basics.pkl', 'rb'))
crew = pickle.load(open('title.crew.pkl', 'rb'))
principals = pickle.load(open('title.principals.pkl', 'rb'))
ratings = pickle.load(open('title.ratings.pkl', 'rb'))

In [14]:
movies = movies[movies['titleType']== 'movie']

In [15]:
movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0.0,1894.0,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,NaN,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,NaN,90,Drama
...,...,...,...,...,...,...,...,...,...
10606239,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0.0,2015.0,NaN,57,Documentary
10606266,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0.0,2007.0,NaN,100,Documentary
10606278,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0.0,2013.0,NaN,NaN,Comedy
10606288,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116,Drama
10606298,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0.0,2013.0,NaN,49,Documentary

In [7]:
loaded

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0075213,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,soundtrack,writer","tt0072562,tt0080455,tt0078723,tt0077975"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0083922,tt0069467,tt0050976,tt0050986"
...,...,...,...,...,...,...
13318664,nm9993714,Romeo del Rosario,NaN,NaN,"animation_department,art_department","tt14069590,tt11657662,tt2455546"
13318665,nm9993716,Essias Loberg,NaN,NaN,NaN,NaN
13318666,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,tt8736744
13318667,nm9993718,Aayush Nair,NaN,NaN,cinematographer,tt8736744
13318668,nm9993719,Andre Hill,NaN,NaN,NaN,NaN

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0075213,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,music_department","tt0049189,tt0054452,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,soundtrack,writer","tt0072562,tt0080455,tt0078723,tt0077975"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0083922,tt0069467,tt0050976,tt0050986"
...,...,...,...,...,...,...
13318664,nm9993714,Romeo del Rosario,NaN,NaN,"animation_department,art_department","tt14069590,tt11657662,tt2455546"
13318665,nm9993716,Essias Loberg,NaN,NaN,NaN,NaN
13318666,nm9993717,Harikrishnan Rajan,NaN,NaN,cinematographer,tt8736744
13318667,nm9993718,Aayush Nair,NaN,NaN,cinematographer,tt8736744
13318668,nm9993719,Andre Hill,NaN,NaN,NaN,NaN

In [48]:
f = open("api_key_OMDb.txt","r")

In [49]:
key = f.read()

In [ ]:
http://www.omdbapi.com/?t=gone+girl

In [53]:
url= 'http://www.omdbapi.com/?apikey='+key+'&t=gone+girl'

In [54]:
res = requests.get(url)

'{"Title":"Gone Girl","Year":"2014","Rated":"R","Released":"03 Oct 2014","Runtime":"149 min","Genre":"Drama, Mystery, Thriller","Director":"David Fincher","Writer":"Gillian Flynn","Actors":"Ben Affleck, Rosamund Pike, Neil Patrick Harris","Plot":"With his wife\'s disappearance having become the focus of an intense media circus, a man sees the spotlight turned on him when it\'s suspected that he may not be innocent.","Language":"English","Country":"United States","Awards":"Nominated for 1 Oscar. 64 wins & 188 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTk0MDQ3MzAzOV5BMl5BanBnXkFtZTgwNzU1NzE3MjE@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"8.1/10"},{"Source":"Rotten Tomatoes","Value":"88%"},{"Source":"Metacritic","Value":"79/100"}],"Metascore":"79","imdbRating":"8.1","imdbVotes":"1,054,600","imdbID":"tt2267998","Type":"movie","DVD":"01 Jun 2016","BoxOffice":"$167,767,189","Production":"N/A","Website":"N/A","Response":"True"}'

Collecting omdbapi
  Downloading omdbapi-0.7.0.tar.gz (17 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /Users/iremnisa.kilinc/anaconda3/lib/python3.11/site-packages (from omdbapi) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/iremnisa.kilinc/anaconda3/lib/python3.11/site-packages (from requests->omdbapi) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/iremnisa.kilinc/anaconda3/lib/python3.11/site-packages (from requests->omdbapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/iremnisa.kilinc/anaconda3/lib/python3.11/site-packages (from requests->omdbapi) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/iremnisa.kilinc/anaconda3/lib/python3.11/site-packages (from requests->omdbapi) (2023.11.17)
Building wheels for collected packages: omdbapi
  Building wheel for omdbapi (setup.py) ... done
  Created wheel for omdbapi: filename=omdbapi-0.7.0-py3-none-any.whl size=16802 sha256=47672f57bd99edbe7049020a9e0443ecb79283d5e1efc5aad5cda2edd9bdf755
  Stored in directory: /Users/iremnisa.kilinc/Library/Caches/pip/wheels/c4/2d/a5/55aa0087861d298490fe3a75fc82ea9c85783748795935571f
Successfully built omdbapi
Installing collected packages: omdbapi
Successfully installed omdbapi-0.7.0
Note: you may need to restart the kernel to use updated packages.

In [46]:
movie = GetMovie(api_key=string)

In [47]:
movie.get_movie(title='Interstellar')

{'title': 'Interstellar',
 'year': '2014',
 'rated': 'PG-13',
 'released': '07 Nov 2014',
 'runtime': '169 min',
 'genre': 'Adventure, Drama, Sci-Fi',
 'director': 'Christopher Nolan',
 'writer': 'Jonathan Nolan, Christopher Nolan',
 'actors': 'Matthew McConaughey, Anne Hathaway, Jessica Chastain',
 'plot': 'When Earth becomes uninhabitable in the future, a farmer and ex-NASA pilot, Joseph Cooper, is tasked to pilot a spacecraft, along with a team of researchers, to find a new planet for humans.',
 'language': 'English',
 'country': 'United States, United Kingdom, Canada',
 'awards': 'Won 1 Oscar. 44 wins & 148 nominations total',
 'poster': 'https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg',
 'ratings': [{'Source': 'Internet Movie Database', 'Value': '8.7/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '73%'},
  {'Source': 'Metacritic', 'Value': '74/100'}],
 'metascore': '74',
 'imdbrating': '8.7',
 'imdbvotes': '2,053,873',
 'imdbid': 'tt0816692',
 'type': 'movie',
 'dvd': '24 May 2016',
 'boxoffice': '$188,020,017',
 'production': 'N/A',
 'website': 'N/A'}