In [11]:
import gzip
import pandas as pd
import pickle
import requests
import urllib.parse
import random
import time
import json 
from datetime import datetime
import numpy as np

In [38]:
f = open("token_TMDB.txt","r")
token = f.read()
headers = {"accept": "application/json", "Authorization": f"Bearer {token}"}

In [39]:
def url_title_tmdb(row, col):
    urls = []
    if pd.isnull(row[col]):
        title = row['originalTitle']
        # Percent encode the title
        title_encoded = urllib.parse.quote(title, safe='')
        url = f"https://api.themoviedb.org/3/search/movie?query={title_encoded}&include_adult=false&language=en-US&page=1"
        urls.append(url)
    return urls

In [40]:
# file_paths = ['name.basics.tsv.gz',
#               'title.basics.tsv.gz',
#               'title.crew.tsv.gz',
#               'title.ratings.tsv.gz']

In [41]:
# for item in file_paths:

#     file_name = item[:-7]  # Remove the '.tsv.gz' part
#     print(file_name)
    
#     # Open the gzip-compressed TSV file and read it as a DataFrame
#     with gzip.open(item, 'rt', encoding='utf-8') as f:
#         df = pd.read_table(f, sep='\t', low_memory=False, na_values=["\\N", "nan"])

#     # Save the DataFrame as a pickle file
#     with open(file_name + '.pkl', 'wb') as f:
#         pickle.dump(df, f)

In [45]:
# ratings = pd.merge(ratings, movies[['tconst']], on='tconst', how='inner')
# ratings = ratings[ratings['tconst'].isin(movies['tconst'])]
# with open('title.ratings.filtered.pkl', 'wb') as f:
#           pickle.dump(ratings, f)

In [44]:
# crew = pd.merge(crew, movies[['tconst']], on='tconst', how='inner')
# crew = crew[crew['tconst'].isin(movies['tconst'])]
# with open('title.crew.filtered.pkl', 'wb') as f:
#           pickle.dump(crew, f)

In [42]:
people = pickle.load(open('name.basics.filtered.pkl', 'rb'))
crew = pickle.load(open('title.crew.filtered.pkl', 'rb'))
ratings = pickle.load(open('title.ratings.filtered.pkl', 'rb'))

In [43]:
movies = pickle.load(open('title.basics.pkl', 'rb'))
movies = movies[movies['titleType']== 'movie']

In [46]:
movies.drop(columns=['titleType','endYear'], inplace=True)

In [47]:
movies.isna().all(axis=1).any()

False

In [48]:
movies.isna().sum()

tconst                 0
primaryTitle           2
originalTitle          2
isAdult                0
startYear          97185
runtimeMinutes    249860
genres             74468
dtype: int64

In [49]:
movies.loc[movies['primaryTitle'].isna(), 'primaryTitle'] = 'None'
movies.loc[movies['originalTitle'].isna(), 'originalTitle'] = 'None'

In [50]:
movies.loc[movies['startYear'].isna()]

,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
90963,tt0093025,Tales of the Brothers Quay,The Films of the Brothers Quay,0.0,NaN,78,"Animation,Documentary"
97840,tt0100084,One Man War,Macon County War,0.0,NaN,92,"Action,Drama"
109071,tt0111597,The Veiled Hope,The Veiled Hope,0.0,NaN,52,Documentary
115754,tt0118530,18,18,0.0,NaN,NaN,Romance
117942,tt0120892,Winding Stair,Winding Stair,0.0,NaN,NaN,Thriller
...,...,...,...,...,...,...,...
10605989,tt9916100,Inventing Robert Capa,Inventing Robert Capa,0.0,NaN,NaN,"Biography,Drama,War"
10606004,tt9916134,The Thing in the Bag,The Thing in the Bag,0.0,NaN,78,NaN
10606025,tt9916178,Yesterday's Dreams,Yesterday's Dreams,0.0,NaN,NaN,NaN
10606029,tt9916188,Minotaur,Minotaur,0.0,NaN,NaN,Thriller
10606238,tt9916620,The Copeland Case,The Copeland Case,0.0,NaN,NaN,Drama

In [51]:
def get_movie_details(url, headers):
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()  
        details = response.json()
        return details      
    except requests.exceptions.RequestException as e:
        print(f"Error occurred: {e}")
        return None

In [52]:
def fill_missing_start_year(df, headers):
    for index, row in df.iterrows():
        imdb_id = row['tconst']
        url = f"https://api.themoviedb.org/3/find/{imdb_id}?external_source=imdb_id"
        print(url)
        try:
            response = requests.get(url, headers=headers)
            response.raise_for_status()  
            details = response.json()
            movie_results = details.get('movie_results', [])
            if movie_results:
                release_date = movie_results[0].get('release_date')
                if release_date:
                    print(f"Release date for movie {row['originalTitle']}: {release_date}")
                    df.at[index, 'startYear'] = datetime.strptime(release_date, '%Y-%m-%d').year
                    print(f"Updated startYear for: {row['originalTitle']} as {datetime.strptime(release_date, '%Y-%m-%d').year}")
                else:
                    print(f"No release date found for movie: {row['originalTitle']}")
            else:
                print(f"No movie details found for movie: {row['originalTitle']}")
        except requests.exceptions.RequestException as e:
            print(f"Error occurred: {e}")
    
        delay = (random.randint(0,500)/1000)  
        time.sleep(delay)
        print(f"Waiting {delay} seconds...")

In [53]:
# Select rows from 'movies' DataFrame where 'startYear' is NaN and 
# where the number of NaN values is less than 3
# deneme = movies.loc[movies['startYear'].isna() & (movies.isnull().sum(axis=1) < 3)]
# deneme = fill_missing_start_year(deneme, headers)
# deneme.to_csv('deneme.csv', index=False)

In [54]:
deneme = pd.read_csv('deneme.csv')

In [55]:
movies = movies[~movies['tconst'].isin(deneme['tconst'])]
movies = pd.concat([movies, deneme], ignore_index=False)

In [56]:
movies = pd.merge(crew, movies, on='tconst', how='right')
movies = pd.merge(ratings, movies, on='tconst', how='right')

In [57]:
def fill_missing_data(df, headers):
    for index, row in df.iterrows():
        imdb_id = row['tconst']
        url = f"https://api.themoviedb.org/3/find/{imdb_id}?external_source=imdb_id"
        try:
            response = requests.get(url, headers=headers)
            response.raise_for_status()  
            details = response.json()
            movie_results = details.get('movie_results', [])
            
            if movie_results:
                tmdb_id = movie_results[0]['id']
                api_url = f"https://api.themoviedb.org/3/movie/{tmdb_id}?language=en-US"
                
                try:
                    response2 = requests.get(api_url, headers=headers)
                    response2.raise_for_status()
                    data = response2.json()
                    
                    if df.at[index, 'tconst'] == data['imdb_id']:
                        df.at[index, 'averageRating'] = data['vote_average']
                        df.at[index, 'numVotes'] = data['vote_count']
                        df.at[index, 'primaryTitle'] = data['title']
                        df.at[index, 'originalTitle'] = data['original_title']
                        df.at[index, 'runtimeMinutes'] = data['runtime']
                        df.at[index, 'isAdult'] = data['adult']
                        if 'release_date' in data and data['release_date']:
                            df.at[index, 'startYear'] = int(data['release_date'].split('-')[0])
                        if 'genres' in data and data['genres']:
                            genres_set = set(genre['name'] for genre in data['genres'])
                            df.at[index, 'genres'] = genres_set
                        print(f'Data added for {tmdb_id}')
                except Exception as e:
                    print(f"Error processing URL {api_url}: {e}")
            else:
                df = df[df.index != index]

        except requests.exceptions.RequestException as e:
            print(f"Error occurred: {e}")
                
        time.sleep(0.02)
    return df

In [58]:
cols_to_check = movies.columns.difference(['primaryTitle', 'originalTitle', 'tconst', 'isAdult'])
# result = movies[movies[cols_to_check].isna().all(axis=1)]
# result = fill_missing_data(result, headers)
# result.to_csv('result.csv', index=False)

In [59]:
result = pd.read_csv('result.csv')

In [60]:
movies = movies[~movies['tconst'].isin(result['tconst'])]
movies = pd.concat([movies,result], ignore_index=False)

In [61]:
movies.dropna(subset=cols_to_check, how='all', inplace=True)

In [62]:
movies.loc[movies['numVotes'] == 0.0, 'numVotes'] = np.nan

In [63]:
movies.dropna(subset=['numVotes'], inplace=True)

In [64]:
movies.drop(columns='genres',axis=1).duplicated().any()

False

In [65]:
# a = movies[movies['tconst']=='tt1375666']
# a['runtimeMinutes'] = None
# a = fill_runtime_data(a, headers)
# a

In [66]:
# def fill_runtime_data(df, headers):
#     for index, row in df.iterrows():
#         imdb_id = row['tconst']
#         url = f"https://api.themoviedb.org/3/find/{imdb_id}?external_source=imdb_id"
#         try:
#             response = requests.get(url, headers=headers)
#             response.raise_for_status()  
#             details = response.json()
#             movie_results = details.get('movie_results', [])
            
#             if movie_results:
#                 tmdb_id = movie_results[0]['id']
#                 api_url = f"https://api.themoviedb.org/3/movie/{tmdb_id}?language=en-US"
                
#                 try:
#                     response2 = requests.get(api_url, headers=headers)
#                     response2.raise_for_status()
#                     data = response2.json()
                    
#                     if df.at[index, 'tconst'] == data.get('imdb_id', '') and data.get('runtime'):
#                         df.at[index, 'runtimeMinutes'] = str(data['runtime'])
#                         print(f'Data added for {tmdb_id}')
#                         print(df.at[index, 'runtimeMinutes'])
#                 except Exception as e:
#                     print(f"Error processing URL {api_url}: {e}")
#             else:
#                 df = df[df.index != index]
#                 print('deleting row')

#         except requests.exceptions.RequestException as e:
#             print(f"Error occurred: {e}")
                
#         time.sleep(1/50)
#     return df

In [67]:
# runtime = movies[movies['runtimeMinutes'].isna()]
# runtime = fill_runtime_data(runtime, headers)

In [ ]:
# def get_director_writer(df, headers):
#     for index, row in df.iterrows():
#         imdb_id = row['tconst']
#         url = f"https://api.themoviedb.org/3/find/{imdb_id}?external_source=imdb_id"
#         try:
#             response = requests.get(url, headers=headers)
#             response.raise_for_status()  
#             details = response.json()
#             movie_results = details.get('movie_results', [])
            
#             if movie_results:
#                 tmdb_id = movie_results[0]['id']
#                 api_url = f"https://api.themoviedb.org/3/movie/{tmdb_id}?append_to_response=keywords,credits"
                
#                 try:
#                     response2 = requests.get(api_url, headers=headers)
#                     response2.raise_for_status()
#                     data = response2.json()
                    
#                     if df.at[index, 'tconst'] == data.get('imdb_id', '') and data.get('credits'):
#                         df.at[index, 'directors'] = find_directors(data['credits']['crew'])
#                         df.at[index, 'writers'] = find_writers(data['credits']['crew'])
#                         print(f'Data added for {tmdb_id}')
#                         print(df.at[index, 'directors'])
#                 except Exception as e:
#                     print(f"Error processing URL {api_url}: {e}")
#             else:
#                 df = df[df.index != index]
#                 print('deleting row')

#         except requests.exceptions.RequestException as e:
#             print(f"Error occurred: {e}")
                
#         time.sleep(1/50)
#     return df

In [ ]:
# movies = movies[~movies['tconst'].isin(runtime['tconst'])]
# movies = pd.concat([movies,runtime], ignore_index=False)

In [ ]:
#movies.dropna(subset=['runtimeMinutes'], inplace=True)

In [ ]:
# def find_directors(crew_list):
#     directors = set()
#     for crew_member in crew_list:
#         if crew_member.get('job') == 'Director':
#             directors.add(crew_member['name'])
#     if not directors:
#         return None
#     else:
#         return directors

In [ ]:
# def find_writers(crew_list):
#     writers = set()
#     for crew_member in crew_list:
#         if crew_member.get('job') == 'Writer':
#             writers.add(crew_member['name'])
#     if not writers:
#         return None
#     else:
#         return writers

In [69]:
movies[movies.isna().any(axis=1)]

,tconst,averageRating,numVotes,directors,writers,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,endYear
0,tt0000009,5.3,208.0,nm0085156,nm0085156,Miss Jerry,Miss Jerry,0.0,1894.0,45,Romance,NaN
1,tt0000147,5.2,504.0,nm0714557,NaN,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0.0,1897.0,100,"Documentary,News,Sport",NaN
2,tt0000502,4.1,15.0,nm0063413,"nm0063413,nm0657268,nm0675388",Bohemios,Bohemios,0.0,1905.0,100,NaN,NaN
3,tt0000574,6.0,872.0,nm0846879,nm0846879,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,70,"Action,Adventure,Biography",NaN
4,tt0000591,5.5,23.0,nm0141150,nm0141150,The Prodigal Son,L'enfant prodigue,0.0,1907.0,90,Drama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
672616,tt6745192,5.0,25.0,nm3859710,nm3859710,Cool as Hell 2,Cool as Hell 2,0.0,2017.0,90,Comedy,NaN
673570,tt9710724,8.4,15.0,nm10447436,"nm10447436,nm9477428",Bay Lawz: Stick to the Code,Bay Lawz: Stick to the Code,0.0,NaN,110,Drama,NaN
0,tt0199860,10.0,1.0,NaN,NaN,Ninja: The Final Duel II,忍武者,0.0,1986.0,89,{'Action'},NaN
2,tt10192300,3.0,1.0,NaN,NaN,The Sexy Guys,最佳男友进化论,0.0,2019.0,90,NaN,NaN
13,tt28752516,1.5,2.0,NaN,NaN,Lif W Irja'a Tani,لف وارجع تاني,0.0,2023.0,100,{'Comedy'},NaN

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['startYear'] = pd.to_datetime(movies['startYear'], format='%Y', errors='coerce').dt.year
movies['runtimeMinutes'] = pd.to_numeric(movies['runtimeMinutes'], errors='coerce').astype('Int64')

In [ ]:
#movies.to_csv('movies.csv',index=False)

In [ ]:
movies = pd.read_csv('movies.csv')

In [36]:
movies.isna().sum()

tconst                 0
averageRating          0
numVotes               0
directors           3651
writers            37935
primaryTitle           0
originalTitle          0
isAdult                0
startYear             23
runtimeMinutes     30347
genres              9920
endYear           305867
dtype: int64

In [ ]:
def format_set(df, col):
    if not isinstance(df[col].iloc[0], set):
        df[col] = df[col].str.split(',')
        df[col] = df[col].apply(lambda x: set(x) if isinstance(x, list) else set())
    else:
        df[col] = df[col]
    return df

In [ ]:
format_set(movies,'directors')
format_set(movies,'writers')
format_set(movies,'genres')

In [ ]:
#crew2 = pickle.load(open('title.crew.pkl', 'rb'))
#crew2[crew2['tconst'].isin((movies[movies['directors'].isna()]['tconst']).unique())]['directors'].unique()
#so these empty rows where also in crew dataset

In [ ]:
# def fill_missing_data(df, headers):
#     if 'api_url' not in df.columns:
#         df['api_url'] = ''
#     for index, row in df.iterrows():
#         url = url_id_tmdb(row, 'startYear')  # Assuming you have a function url_id_tmdb to construct the URL
#         df.at[index, 'api_url'] = url  # Add the URL to the DataFrame
        
#         try:
#             response = requests.get(url, headers=headers)
#             response.raise_for_status()  
#             details = response.json()
#             movie_results = details.get('movie_results', [])
            
#             if movie_results:
#                 tmdb_id = movie_results[0]['id']
#                 api_url = f"https://api.themoviedb.org/3/movie/{tmdb_id}?language=en-US"
                
#                 try:
#                     response2 = requests.get(api_url, headers=headers)
#                     response2.raise_for_status()
#                     data = response2.json()
                    
#                     if df.at[index, 'tconst'] == data['imdb_id']:
#                         df.at[index, 'averageRating'] = data['vote_average']
#                         df.at[index, 'numVotes'] = data['vote_count']
#                         df.at[index, 'primaryTitle'] = data['title']
#                         df.at[index, 'startYear'] = data['release_date'].split('-')[0]
#                         df.at[index, 'originalTitle'] = data['original_title']
#                         df.at[index, 'isAdult'] = data['adult']
#                         if 'genres' in data:
#                             genres_set = set(genre['name'] for genre in data['genres'])
#                             df.at[index, 'genres'] = genres_set
#                 except Exception as e:
#                     print(f"Error processing URL {api_url}: {e}")
#             else:
#                 print(f"No movie results found for URL {url}")
#                 df.drop(index=index, inplace=True)

#         except requests.exceptions.RequestException as e:
#             print(f"Error occurred: {e}")
                
#         time.sleep(0.05)
#     df.drop(['api_url'],axis=1,inplace=True)
#     return df

In [83]:
new = pd.read_csv('TMDB_movie_dataset.csv')

In [89]:
cols = ['id','genres','title','overview',
        'popularity','release_date','runtime','vote_average','production_countries','production_companies']

In [104]:
movies = movies[movies['runtimeMinutes'] > 45]
movies = movies[movies['numVotes'] > 50]
movies = movies[movies['startYear'] > 1900]

In [112]:
movies = movies[movies['averageRating'] >= 3.7]

In [105]:
new = new[new['imdb_id'].isin(movies['tconst'])]

In [124]:
new = new[(new['popularity'] > 1) & (new['status'] == 'Released')]

In [127]:
new = new.dropna(subset=['overview'])

In [129]:
new = new.dropna(subset=['genres'])

In [132]:
new = new.dropna(subset=['production_countries'])

In [135]:
new = new.drop(columns=['backdrop_path', 'homepage', 'tagline', 'production_companies'])

In [140]:
new = new.drop(columns=['spoken_languages'])

In [143]:
new = new.dropna()

In [ ]:
movies = movies[movies['tconst'].isin(new['imdb_id'])]

In [146]:
movies = movies[movies['runtimeMinutes'] > 60]
movies = movies[movies['numVotes'] > 100]
movies = movies[movies['startYear'] > 1920]

In [151]:
movies = movies[movies['isAdult']==0]

In [160]:
movies

,tconst,averageRating,numVotes,directors,writers,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
924,tt0010969,6.7,424.0,nm0275494,"nm0072315,nm0275494",Missing Husbands,L'Atlantide,0.0,1921,172,"{'Fantasy', 'Adventure', 'Mystery'}"
980,tt0011294,7.2,240.0,nm0031134,"nm0173213,nm3561683",The Swallow and the Titmouse,L'hirondelle et la mésange,0.0,1924,80,{'Drama'}
1013,tt0011440,6.5,248.0,nm0814027,"nm0359105,nm0814027",Markens grøde,Markens grøde,0.0,1921,107,{'Drama'}
1093,tt0011904,6.8,1320.0,nm0941637,"nm0606563,nm0927851",The Ace of Hearts,The Ace of Hearts,0.0,1921,75,"{'Drama', 'Mystery', 'Crime'}"
1095,tt0011908,5.6,167.0,"nm0384616,nm0796657","nm0123194,nm0384616,nm0884265,nm0257877",Adventures of Tarzan,Adventures of Tarzan,0.0,1921,73,"{'Action', 'Adventure'}"
...,...,...,...,...,...,...,...,...,...,...,...
248309,tt9252316,6.8,238.0,nm3141234,nm2085376,Erasing Family,Erasing Family,0.0,2020,92,{'Documentary'}
248322,tt9379530,4.2,147.0,nm3860913,nm3860913,Max Bishop,Max Bishop,0.0,2021,84,"{'Comedy', 'Crime'}"
248346,tt9592686,6.5,331.0,nm8426796,"nm8426796,nm10395878","Stay Awesome, China!","Stay Awesome, China!",0.0,2019,77,{'Documentary'}
248347,tt9593792,4.9,247.0,nm10316044,"nm10396240,nm10316044",Ghost Wife,Ghost Wife,0.0,2018,99,"{'Drama', 'Horror', 'Comedy'}"
248363,tt9753314,6.6,593.0,nm7240066,nm7240066,The Shepherd's Supper,The Shepherd's Supper,0.0,2023,120,{'Drama'}

In [184]:
movies[movies['numVotes']>1000]

,tconst,averageRating,numVotes,directors,writers,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1093,tt0011904,6.8,1320.0,nm0941637,"nm0606563,nm0927851",The Ace of Hearts,The Ace of Hearts,0.0,1921,75,"{'Drama', 'Mystery', 'Crime'}"
1096,tt0011909,6.6,1351.0,nm0001124,"nm0774217,nm0534221",The Affairs of Anatol,The Affairs of Anatol,0.0,1921,117,"{'Drama', 'Comedy'}"
1109,tt0011960,6.9,1298.0,nm0523932,"nm0473134,nm0523932",The Wildcat,Die Bergkatze,0.0,1921,79,"{'Romance', 'Drama', 'Comedy'}"
1121,tt0012027,6.5,1061.0,nm0806605,"nm0241414,nm0558923",Camille,Camille,0.0,1921,72,"{'Romance', 'Drama'}"
1148,tt0012190,7.1,3539.0,nm0002271,"nm0087658,nm0558923",The Four Horsemen of the Apocalypse,The Four Horsemen of the Apocalypse,0.0,1921,150,"{'Romance', 'Drama', 'War'}"
...,...,...,...,...,...,...,...,...,...,...,...
246088,tt2075277,7.3,1137.0,nm1680229,"nm1680229,nm12290644",Paramathma,Paramathma,0.0,2011,132,{'Romance'}
246328,tt22497964,4.8,1231.0,nm14111507,nm14111507,Gurumoorthi,Gurumoorthi,0.0,2022,122,"{'Action', 'Thriller'}"
246393,tt23043386,4.2,1220.0,"nm0007161,nm11140532",nm0007161,Organic Mama Hybrid Alludu,Organic Mama Hybrid Alludu,0.0,2023,148,{'Action'}
247657,tt5748648,4.9,1378.0,nm6490860,nm1213847,The Bachelor,The Bachelor,0.0,2016,110,"{'Romance', 'Comedy'}"
247898,tt6793470,6.0,1733.0,nm5394449,nm10080143,Horob Edterary,Horob Edterary,0.0,2017,120,"{'Action', 'Thriller', 'Comedy'}"

In [182]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
averageRating,82797.0,6.085535,1.003987,3.7,5.4,6.2,6.8,9.5
numVotes,82797.0,12968.353080,68329.319774,101.0,295.0,806.0,3143.0,2866728.0
isAdult,82797.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
startYear,82797.0,1994.966110,25.210272,1921.0,1978.0,2004.0,2015.0,2024.0
runtimeMinutes,82797.0,101.633694,28.640072,61.0,89.0,97.0,110.0,5220.0

In [120]:
f = open("api_key_OMDb.txt","r")
key = f.read()
url= 'http://www.omdbapi.com/?apikey='+key+'&t=gone+girl'

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006376,666474,Köşe Dönücü,0.000,0,Released,1985-01-01,0,0,False,NaN,0,NaN,tt4250338,tr,Köşe Dönücü,NaN,0.600,/f2F3vSGaha42aFRVbKukgQgqzQk.jpg,NaN,Comedy,Bengi Video & Film,Turkey,Turkish
1006381,666482,Çanakkale Aslanları,0.000,0,Released,1964-06-02,0,0,False,NaN,0,NaN,tt0290337,tr,Çanakkale Aslanları,NaN,0.600,/x8rcJ5FIDixR4OPQWTPM5XQKerw.jpg,NaN,"War, History","And Film, Tsk, tsk, tsk Productions",Turkey,NaN
1006383,666485,Yasemin'in Tatlı Aşkı,0.000,0,Released,1968-02-14,0,83,False,NaN,0,NaN,tt0348447,tr,Yasemin'in Tatlı Aşkı,"While the young couple dreams of marriage, the...",0.846,/sBhrwBeCnfQ8YYOhFqNO8iMjOXK.jpg,NaN,"Comedy, Romance, Music",Saner Film,Turkey,Turkish
1006458,666870,Found Footage,0.000,0,Released,2014-10-22,0,93,False,NaN,500,NaN,tt3469330,en,Found Footage,Three teens set out to fix their schools bully...,0.600,/oh4zR437EuPrg1Pj1hgkAR2cusF.jpg,NaN,Comedy,NaN,NaN,NaN
1006462,666875,Riki Rhino,0.000,0,Released,2020-02-27,0,92,False,/i4Bo9kNkUwdTKsGYk6PZBNMhBXn.jpg,0,NaN,tt11710070,id,Riki Rhino,"Riki, a young Sumatran rhino, lost his horn, w...",0.600,/rbxzOoAWI4WYSpoBFCuJFz3El95.jpg,NaN,"Animation, Adventure",Batavia Pictures,Indonesia,Indonesian

In [187]:
df = pd.merge(new, movies, left_on='imdb_id', right_on='tconst', how='inner')

In [189]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'genres_x',
       'production_countries', 'release_year', 'tconst', 'averageRating',
       'numVotes', 'directors', 'writers', 'primaryTitle', 'originalTitle',
       'isAdult', 'startYear', 'runtimeMinutes', 'genres_y'],
      dtype='object')

In [166]:
def update_vote_info(df1, df2):
    for index, row in df1.iterrows():
        imdb_id = row['imdb_id']
        matching_row = df2[df2['tconst'] == imdb_id]
        if not matching_row.empty:
            df1.at[index, 'vote_average'] = matching_row.iloc[0]['averageRating']
            df1.at[index, 'vote_count'] = matching_row.iloc[0]['numVotes']


update_vote_info(new, movies)

In [206]:
#df['runtime'] = df['runtimeMinutes']
df['release_date'] = df['release_year']

In [202]:
df.drop(columns=['runtimeMinutes','startYear'],inplace=True)

In [207]:
df.drop(columns=['release_year'],inplace=True)

In [209]:
# List of columns to drop
cols_to_drop = ['tconst', 'averageRating', 'numVotes', 'directors', 'writers', 'primaryTitle', 'originalTitle', 'isAdult', 'genres_y']

# Drop the specified columns
df.drop(columns=cols_to_drop, inplace=True)

In [217]:
df['genres_x'].iloc[0]

'Action, Science Fiction, Adventure'

In [223]:
df = df[df['vote_count']>1000]

In [234]:
df.isna().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
budget                  0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
genres_x                0
production_countries    0
dtype: int64

In [236]:
df.to_csv('final.csv')

In [240]:
df

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,genres_x,production_countries
0,27205,Inception,8.8,2529535,Released,2010,825532764,148,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,"Action, Science Fiction, Adventure","United Kingdom, United States of America"
1,157336,Interstellar,8.7,2070426,Released,2014,701729206,169,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,"Adventure, Drama, Science Fiction","United Kingdom, United States of America"
2,155,The Dark Knight,9.0,2848254,Released,2008,1004558444,152,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,"Drama, Action, Crime, Thriller","United Kingdom, United States of America"
3,19995,Avatar,7.9,1378994,Released,2009,2923706026,162,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom"
4,24428,The Avengers,8.0,1452946,Released,2012,1518815515,143,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,"Science Fiction, Action, Adventure",United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82733,681169,Galwakdi,6.2,1133,Released,2022,0,130,False,0,tt12062432,pa,Galwakdi,"Jagteshwar, a librarian, has an obsessive-comp...",1.387,"Drama, Comedy, Romance",India
82740,714889,The Delinquents,6.7,2297,Released,2023,0,189,False,0,tt18558306,es,Los delincuentes,"Two bank employees, Román and Morán, question ...",3.620,"Drama, Comedy","Argentina, Brazil, Chile, Luxembourg"
82772,644009,One Winter Night,3.9,1697,Released,2019,0,130,False,0,tt6692264,en,One Winter Night,An Orthodox Jewish mother and her daughters fa...,1.287,"Horror, Drama",United States of America
82784,671194,Our Scripted Life,4.3,1566,Released,2020,0,88,False,0,tt10958102,en,Our Scripted Life,A daytime television actor hatches a plan to p...,1.112,Comedy,United States of America
82793,664341,Eileen,6.0,9735,Released,2023,0,97,False,0,tt5198890,en,Eileen,"In 1960s Massachusetts, an unhappy prison secr...",7.612,"Drama, Thriller","South Korea, United Kingdom, United States of ..."

In [132]:
a = pd.read_csv('mini_data.csv')

In [133]:
a = a.dropna()

In [134]:
def get_actors(data, max_order=5, separator=' '):
    actors = []
    for actor in data:
        if actor['order'] <= max_order:
            name = actor['name']
            actors.append(name)
    if actors:
        return separator.join(actors)

In [135]:
def get_crew(data, members, separator=' '):
    crew = []
    for member in data:
        if member['job'] in members and member['name'] not in crew:
            name = member['name']
            crew.append(name)
    if crew:
        return separator.join(crew)

In [138]:
def get_items(row, col, separator=' '):
    try:
        data = json.loads(row[col])
        items = [item['name'] for item in data]  # Assuming 'name' is the key you want to extract
    except (KeyError, json.JSONDecodeError, TypeError):
        items = []  # Return an empty list if value is not a valid JSON string or column does not exist
    
    return separator.join(items)

In [139]:
a['genres'] = a.apply(lambda row: get_items(row, 'genres'), axis=1)
a['keywords'] = a.apply(lambda row: get_items(row, 'keywords'), axis=1)
a['production_countries'] = a.apply(lambda row: get_items(row, 'production_countries'), axis=1)
a['production_companies'] = a.apply(lambda row: get_items(row, 'production_companies'), axis=1)

In [140]:
import json 
a['cast'] = a.apply(lambda row: get_actors(json.loads(row['cast']), max_order=5), axis=1)

In [141]:
a['crew'] = a.apply(lambda row: get_crew(json.loads(row['crew']), ['Producer', 'Director', 'Writer']), axis=1)

In [142]:
a.to_csv('tableau_data.csv',index=False)

In [143]:
a

,id,genres,title,keywords,overview,popularity,release_date,runtime,vote_average,vote_count,cast,crew,production_countries,production_companies
0,19995,Action Adventure Fantasy Science Fiction,Avatar,culture clash future space war space colony so...,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,162.0,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron Jon Landau,United States of America United Kingdom,Ingenious Film Partners Twentieth Century Fox ...
1,285,Adventure Fantasy Action,Pirates of the Caribbean: At World's End,ocean drug abuse exotic island east india trad...,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,169.0,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski Jerry Bruckheimer Eric McLeod C...,United States of America,Walt Disney Pictures Jerry Bruckheimer Films S...
2,206647,Action Adventure Crime,Spectre,spy based on novel secret agent sequel mi6 bri...,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,148.0,6.3,4466,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,Sam Mendes Barbara Broccoli Michael G. Wilson,United Kingdom United States of America,Columbia Pictures Danjaq B24
3,49026,Action Crime Drama Thriller,The Dark Knight Rises,dc comics crime fighter terrorist secret ident...,Following the death of District Attorney Harve...,112.312950,2012-07-16,165.0,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,Charles Roven Christopher Nolan Emma Thomas,United States of America,Legendary Pictures Warner Bros. DC Entertainme...
4,49529,Action Adventure Science Fiction,John Carter,based on novel mars medallion space travel pri...,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,132.0,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton Colin Wilson Jim Morris Lindsey...,United States of America,Walt Disney Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,9367,Action Crime Thriller,El Mariachi,united states–mexico barrier legs arms paper k...,El Mariachi just wants to play his guitar and ...,14.269792,1992-09-04,81.0,6.6,238,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez Carlos Gallardo,Mexico United States of America,Columbia Pictures
4798,72766,Comedy Romance,Newlyweds,,A newlywed couple's honeymoon is upended by th...,0.642552,2011-12-26,85.0,5.9,5,Edward Burns Kerry Bishé Marsha Dietlein Caitl...,Edward Burns William Rexer Aaron Lubin,,
4799,231617,Comedy Drama Romance TV Movie,"Signed, Sealed, Delivered",date love at first sight narration investigati...,"""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,2013-10-13,120.0,7.0,6,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Harvey Kahn Martha Williamson Scott Smith,United States of America,Front Street Pictures Muse Entertainment Enter...
4800,126186,,Shanghai Calling,,When ambitious New York attorney Sam is sent t...,0.857008,2012-05-03,98.0,5.7,7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,Daniel Hsia,United States of America China,
4801,25975,Documentary,My Date with Drew,obsession camcorder crush dream girl,Ever since the second grade when he first saw ...,1.929883,2005-08-05,90.0,6.3,16,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger Jon Gunn Brett Winn,United States of America,rusty bear entertainment lucky crow films